<%# This is the inventory view template %>
<% if (title) { %>
  <h1><%= title %></h1>
<% } %>

<%# This is a placeholder for the inventory list %>
<div class="inventory-container">
  <p>Inventory content will be displayed here</p>
</div>
